{
  "name": "ToBeReplacedProjName-web",
  "private": true,
  "dependencies": {
    "react": "^15.3.0",
    "react-native-web": "^0.0.42",
    "react-router": "*",
    "whatwg-fetch": "*"
  },
  "devDependencies": {
    "webpack": "*",
    "babel-core": "*",
    "babel-loader": "*",
    "babel-plugin-add-module-exports": "*",
    "babel-preset-es2015": "*",
    "babel-preset-react": "*",
    "babel-preset-react-native": "*",
    "babel-preset-stage-0": "*"
  }
}
