{
  "name": "ToBeReplacedProjName",
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start"
  },
  "dependencies": {
		"express": "^4.14.0",
    "express-ws": "*",
    "react-native": "0.42.0",
    "react": "15.4.2"
  }
}
